/* * {
    font-family: 'Roboto', sans-serif;
} */
/* body {
  margin: 0;
<<<<<<< HEAD
  background-color: #F8F9FA; */
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif; */
  /* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  ;
}
@font-face {
  font-family: 'Roboto', sans-serif;
  src: local("Roboto', sans-serif"),
    url("./fonts/Roboto-Black.ttf") format("ttf");
<<<<<<< HEAD
} */
/* 
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace; */
/* }

 :root {
  --sidebar-width: 240px;
  --navbar-height: 50px;
  --color-theme1: #9cafda;
  --font-size-small: 15px;
  --font-size-medium: 20px;
  --font-size-large: 50px;
  --sidebar-background: #071422;
}  */


/* *::-webkit-scrollbar{
  display: none;
} */

/* #statusOKGR {
=======
*::-webkit-scrollbar{
  display: none;
}

#statusOKGR {
>>>>>>> 2fde66b7e69c405419321bf805efa16a5fba7beb
	padding: 1% 5%;
	text-transform: uppercase;
	background-image: linear-gradient(310deg, #17ad37, #98ec2d);
  border-color: linear-gradient(310deg, #17ad37, #98ec2d);
	color: linear-gradient(310deg, #17ad37, #98ec2d);
	color: white;
	font-weight: bold;
}
#statusOffGR {
	text-transform: uppercase;
	padding: 1% 5%;
	background-image: linear-gradient(310deg, #627594, #a8b8d8);
	color: white;
	font-weight: bold;
}

#btnplus{
  border-color: #CE0C9F;
  color: #CE0C9F;
  font-weight: 600;
  width: 25vh;

}
#btnDel{
  border-color: #f10014;
  color: #f10014;
  font-weight: 600;
  width: 25vh;

<<<<<<< HEAD
} */
